.board-members{ 
    @media only screen and (min-width: 768px) and (max-width: 1024px){
        padding-left: 0px; 
        

    } 
    @media only screen and (min-width: 1024px) and (max-width: 1366px){ 
        padding-left: 6em;
    } 
    @media only screen and( min-width: 320px) and (max-width: 800px){ 
        width: 100%; 
        display: none; 
    }
        display: flex; 
        padding-left: 15em; 
        div{ margin: 0%; 
            padding-left: 6em; 
            @media only screen and (min-width: 768px) and (max-width: 1024px){
        padding-left: 3.5em; 
        

    } 
        .overlay{
            position: relative; 
            width: 70%; 
            height: 25%; 
            bottom: 10px; 
            box-shadow: 2px 4px rgba(180, 180, 176, 0.603);
            margin-bottom: 1vh;
        }
            
        } 

        h1{
            margin-left: 15%; 
            padding-left: 15%; 
        }
        
        img{
            min-width: 200px; 
            max-width: 200px; 
            min-height: 200px; 
            max-height: 200px; 
            justify-content: 20em;
        } 
        
        .text-div {
          position: relative;
          bottom: 30px;
          width: 50%;
          color: white;
          background-color: rgba(0, 0, 0, 0.75);
          padding-left: 5em; 
            @media only screen and (min-width: 768px) and (max-width: 1024px){
        width: 45%;
        padding-left: 5.5em;

    }

           p {
             margin: 7px;
           }
        }
    }
