/*     Extra small devices (portrait phones, less than 576px) */


/*    WELCOME SECTION     */
.welcome-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  @media only screen and (max-width: 375px){ 
      //iphone 6/7/8/X
    height: 40vh;
  }
  @media only screen and (min-width: 992px) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin-top: 15%;
      height: 70vh;
  } 
  @media only screen and (max-height: 640px){ 
      //BlackBerry Z30
      height: 40vh; 
  }  

  @media only screen and (min-width: 640px){ 
      // this is the actual width given by the google emmulator for microsoft lumia 550 
      margin-bottom: 30px;
  } 
  @media only screen and (min-width: 412px) and (min-height: 732px){ 
      //Nexus 6 
          font-size: 40px;
          font-weight: 200; 
          padding-bottom: 10px;
          height: 30vh;
       }
 
  .welcome-text-container {
      display: flex;
      flex-direction: column;
      justify-items: flex-start;
      width: 60%;
      margin-top: 10%;

      @media only screen and (min-width: 992px) {
          width: 35%;
          margin-top: 0px;
          margin-right: 20px;
      }
  }
 .welcome-title{
      font-size: 50px;
      font-weight: 100;
      color: #848484;
      padding-bottom: 20px; 
      @media only screen and (max-width: 640px){  
          font-size: 20px;
          font-weight: 200; 
          padding-bottom: 30px;
       }
 }
 .welcome-sub-title {
     padding-bottom: 15px;
     font-size: 20px;
     font-weight: 300;
     color: #848484;
 }
  
 img {
  display: none;

      /* large devices -- desktops screen sizes 992px and above */
      @media only screen and (min-width: 992px) {
          display: block;
          height: auto;
          width: 340px;
      }
  }

  a {
      text-decoration: none;
      
      .volunteer-btn {
          display: none;

          @media only screen and (min-width: 992px) {
              display: inline;
              padding: 12px 30px 12px 30px;
              background-color: #7A6DAC;
              color: #fff;
              border-radius: 10px;
              border: none;
              font-weight: 300;
              font-size: 18px;
              cursor: pointer;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


              &:hover {
                  transform: scale(.98);

              }
          }
      }

      .donate-btn {
          display: inline;
          padding: 12px 30px 12px 30px;
          background-color: #7A6DAC;
          color: #fff;
          border-radius: 10px;
          border: none;
          font-weight: 300;
          font-size: 18px;
          cursor: pointer;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


          &:hover {
              transform: scale(.98);

          }

          @media only screen and (min-width: 992px) {
              display: none;
          }
      }
  }
  
}

/*    ABOUT SECTION     */
.about-section{
  flex-direction: column;
  align-items: center;

  .about-header {
      max-width: 80%;
      text-align: center;
      font-size: 32px;
      font-weight: 200;
      color: #848484;
      margin-bottom: 40px;
       @media only screen and (max-height: 600px){ 
        //Surface Duo
          font-size: 20px;
          font-weight: 100; 
          padding-bottom: 30px;
          margin-top: 50px; 
       } 
       @media only screen and (max-width: 640px){   
           //Microsoft Lumia 550
          font-size: 20px;
          font-weight: 100; 
          padding-bottom: 30px;
          margin-top: 50px;
       } 
       
  }

  img {
      height: 200px;
      width: 200px;
      margin-bottom: 25px;
  }

  .about-content-container {
  
      display: flex;
      flex-direction: column;
      align-items: center;

      @media only screen and (min-width: 992px) {
          flex-direction: row;
          justify-content: center;
      }
      
      .about-content-col {
          display: flex;
          flex-direction: column;
          width: 85%;

          @media only screen and (min-width: 992px) {
              width: 55%;
              margin-left: 30px;
          }
      }

      p {
          font-family: 'Lato', sans-serif;
          font-size: 18px;
          font-weight: 300;
      }
  }
}


/*    VOLUNTEER SECTION     */
.volunteer-section {
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;

  .volunteer-title {
      text-align: center;
      font-size: 32px;
      font-weight: 200;
      color: #848484;
      margin-bottom: 25px;
  }

  .volunteer-container {
      width: 80%;
      margin-bottom: 25px;

      @media only screen and (min-width: 992px) {
          width: 80%;
          display: flex;
          flex-direction: row;
      }

     .volunteer-content {
       align-items: center;

          p {
              font-family: 'Lato', sans-serif;
              font-size: 18px;
              font-weight: 300;
          }

          a {
              text-decoration: none;

              .btn-container {
                  padding: 15px 30px 15px 30px;
                  background-color: #7A6DAC;
                  color: #fff;
                  border-radius: 10px;
                  border: none;
                  font-weight: 300;
                  font-size: 18px;
                  cursor: pointer;
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


                  &:hover {
                      transform: scale(.98);
  
                  }
              }
          }
     }
  }

  .image-col {
      display: none;
      @media only screen and (min-width: 992px) {
          margin-left: 25px;
          margin-top: 20px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 140px;
          grid-gap: 20px;
      }
        

          .overlay{
              position: relative;
              height: 140px;

         
          img {
              display: none;
      
              @media only screen and (min-width: 992px) {
                  display: block;
                  height: 140px;
                  width: 145px;
              }
          }
          .text-div{
              display: none;

              @media only screen and (min-width: 992px) {
              display: block;
              position: absolute;
              color: white;
              bottom: 0px;
              background: rgba(0, 0, 0, 0.5);
              width: 100%;
              height: 30px;

              p {  
                  margin: 0px 0px 2px 3px;
                  font-size: 13px;
              }
          }
          
      }
      }
  }
}
