
$header-btn-color: #412F8A;

/* smallest devices -- screen sizes up to 576px */
header {
  width: 100%;
  top: 0;

   /* extra large devices -- large desktops screen sizes 1200px and above */
  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  .header-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: 768px) {
      margin-top: 15px;
      width: 90%;
    }
  }

  img {
    height: 75px;
    width: 150px;
  }

  .header-right {
    display: flex;
    margin-right: 20px;

    /* medium devices -- tablets and screen sizes 768px and above */
    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }

    .hamburger-icon {
      display: flex;
      align-items: center;
      margin-left: 10px;

      @media only screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  .nav-hide {
    display: none;
  }
  
  ul {
    margin-top: 15px;
    flex-direction: column;

    @media only screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
    
    li {
      text-decoration: none;
      list-style-type: none;
      margin-top: 4px;
      font-size: 16px;
      font-weight: 500;

      @media only screen and (min-width: 768px) {
        margin: 0px 15px 0px 15px;
      }
    }
  }
  
  a {
    text-decoration: none;
    list-style-type: none;
    border-bottom: none;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    color: #000;
  }
    
  li a:hover,
  li a:active {
    border-bottom: 2px solid #55BFC9;
    transition: border-bottom 0.6s;
  }

  .btn-container {
    display: none;

    /* large devices -- desktops screen sizes 992px and above */
    @media only screen and (min-width: 992px) {
      padding: 12px 25px 12px 25px;
      background-color: $header-btn-color;
      color: #fff;
      border-radius: 10px;
      border: none;
      font-weight: 500;
      cursor: pointer;
      display: inline;
    }
  }

}

 /* small devices -- screen sizes 576px and above */
//  @media only screen and (min-width: 576px) {
//  no changes -- everything looks good
// }


