
$header-btn-color: #412F8A;

/* smallest devices -- screen sizes up to 576px */
header {
  width: 100%;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  padding-bottom: 8px;

   /* extra large devices -- large desktops screen sizes 1200px and above */
  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  .header-parent {
    @media only screen and (min-width: 768px) {
      margin-top: 15px;
      width: 90%;
    }
  }

  img {
    height: 75px;
    width: 150px;

    @media only screen and (min-width: 768px) {
      float: left;
    }
  }

  /*  default for mobile device -- nav list is hidden  */
  .hide {
    display: none;

    @media only screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
      justify-content: flex-end;
      align-items: center;
    }
    
    li {
      @media only screen and (min-width: 768px) {
        text-decoration: none;
        list-style-type: none;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 500;
        margin: 0px 15px 0px 15px;
        transition: all .5s ease-out;
      }

      a {
        @media only screen and (min-width: 768px) {
          text-decoration: none;
          list-style-type: none;
          border-bottom: none;
          color: #848484;
          transition: all .5s ease-out;
        }
      }
        
      a:hover,
      a:active {
        @media only screen and (min-width: 768px) {
          border-bottom: 2px solid #55BFC9;
          transition: border-bottom 0.2s;
        }
      }
    }
  }

  /*  responsive view for mobile*/
  .mobile {

    @media only screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
      justify-content: flex-end;
      align-items: center;
    }
    
    li {
      text-decoration: none;
      list-style-type: none;
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: 500;
      transition: all .5s ease-out;

      @media only screen and (min-width: 768px) {
        margin: 0px 15px 0px 15px;
      }

      @media only screen and (min-width: 992px) {
        font-size: 18px;
      }

      a {
        text-decoration: none;
        list-style-type: none;
        border-bottom: none;
        color: #848484;
        transition: all .5s ease-out;

        @media only screen and (min-width: 768px) {
          padding-bottom: 2px;
          border-bottom: 2px solid transparent;
         
        }
      }
        
      a:hover,
      a:active {
        color: #55BFC9;
        transition: 0.2s;

        @media only screen and (min-width: 768px) {
          border-bottom: 2px solid #55BFC9;
          transition: border-bottom 0.6s;
        }
      }
    }
  }

  .hamburger-icon {
    position: fixed;
    top: 25px;
    right: 25px;
    color: #848484;
    transition: all .3s ease-out;

    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  .btn-container {
    display: none;

    /* large devices -- desktops screen sizes 992px and above */
    @media only screen and (min-width: 992px) {
      display: inline;
      padding: 12px 25px 12px 25px;
      margin-left: 15px;
      background-color: $header-btn-color;
      color: #fff;
      border-radius: 10px;
      border: none;
      font-weight: 500;
      cursor: pointer;
    }
  }
}


