$teal-empahasis-color: #01B4BC;
$red-cta-color: #FA5457;

.about-container{
  margin: 8rem;
 
}

.about-col{
  text-align: justify;
  font-size: 1.5rem;
  padding: 4.2rem;
}
.icon-heart{
  text-align: center;
  color: red;
}

.container-reach-out{
  padding: 4rem;
  text-align: center;
  h2{
    font-size:1.75rem;
  }
  .reach-out-btn{
    background-color: $red-cta-color;
    color: white;
    font-size: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
   
  }
}

.team-block{

  text-align: justify;
  h1{
    color: $teal-empahasis-color;
    text-align: center;
    font-size: 3rem;
  }
  position: relative;
  img{
    width: 14rem;
  }
  p{
    width:16rem;
  }
}
.team-col-container{

  position: absolute;
  
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%) ;
}
.team-col-1{

 display: inline-block;
 padding: 2rem;
}
