$teal-empahasis-color: #01B4BC;
$red-cta-color: #FA5457;
$gray-background: #efefef;

#about-nouri {
  background-color: $gray-background;
  padding: 20% 3% 3%;

  @media only screen and (min-width: 700px) {
    padding: 10% 25% 5%;
  }
}

#reach-out {
  padding: 3%;
  text-align: center;

  button {
    background-color: $red-cta-color;
    color: white;
    width: 100%;
    padding: 3%;

    @media only screen and (min-width: 700px) {
      width: 200px;
      padding: 5px;
    }
  }
}

#team-block {
  padding: 3%;
  text-align: center;
  background-color: $gray-background;

  #team-list {

    @media only screen and (min-width: 700px) {
      display: flex;
      justify-content: space-around;
      width: 60%;
      margin: 0 auto;
    }

    .team-member {
      h3 {
        margin: 5px;
      }
      
      h4 {
        margin: 5px;
      }

      p {
        text-align: justify;
        margin-top: 5px;

        @media only screen and (min-width: 700px) {
          width: 250px;
        }
      }

      .team-photo {
        width: 90vw;
        margin: 0 auto;

        @media only screen and (min-width: 700px) {
          width: 250px;
        }
      }
    }
  }
}