
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

/*      MEDIA QUERIES     */
/* small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {

  /*    HEADER    */
  header {
    align-items: flex-start;
  
    .header-right {
      flex-direction: column;
    }

    .link-row {
      margin-top: 15px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
   
      li {
        margin-top: 4px;
        margin-left: 0;
        margin-right: 0;
      }
    }

    button {
      display: none;
    }
  }

  /*    WELCOME SECTION     */
  .welcome-section {
      flex-direction: column;
      .welcome-text-container{
        width: 60%;
      }

      img {
        display: none;
      }
      .volunteer-btn {
        display: none;
      }

      .donate-btn {
        display: inline;
        padding: 12px 30px 12px 30px;
        background-color: #412F8A;
        color: #fff;
        border-radius: 10px;
        font-weight: 300;
        font-size: 18px;
        cursor: pointer;
      }
  }

  /*    ABOUT SECTION   */
  .about-section {
    min-height: auto;

    img {
      height: 200px;
      width: 200px;
      margin-bottom: 25px;
    }
    .about-content-container {
      flex-direction: column;
      align-items: center;

      .about-content-col {
        max-width: 80%;
      }
    }
  }

  /*    VOLUNTEER SECTION     */
  .volunteer-section {
    img {
      display: none;
    }

    .volunteer-content-col {
      max-width: 60%;
    }

  }
  
}