/******************************
    HERO BLOCK
*******************************/
$bg-img: url('../../images/meal-prep.jpg');

$text-empahasis-color: #01B4BC;



#hero-block {
  background-image: $bg-img;
  background-size: cover;

  .cta-block {
    background-color: #ffffffd8;
    padding: 200px 50px;
    text-align: center;
    
    @media only screen and (min-width: 700px) {
      padding: 20vw 10vw;
    }

    h1 {
      font-size: 70px;

      @media only screen and (min-width: 700px) {
        font-size: 30px;
      }
    }

    p {
      font-size: 60px;

      @media only screen and (min-width: 700px) {
        font-size: 20px;
      }
    }

    a {
      width: 100%;
      .cta-btn {
        background-color: #FA5457;
        width: 100%;
        color: white;
        font-size: 70px;
        text-transform: uppercase;
        padding: 20px;

        @media only screen and (min-width: 700px) {
          font-size: 20px;
          padding: 10px;
          width: 300px;
        }
      }
    }
  }
}

/******************************
    QUOTE BLOCK
*******************************/
#home-quotes {
  background-image: url('../../images/family-feet.jpg');
  background-size: cover;
  font-size: 20px;

  .quote-content {
    padding: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media only screen and (min-width: 700px) {
      padding: 3% 20%;
    }

    blockquote {
      margin: 20px;
    }
  }
}

/******************************
    WHERE NOURI COMES IN
*******************************/
#home-come-in {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5%;

  h1 {
    color: $text-empahasis-color;
  }

  @media only screen and (min-width: 700px) {
    padding: 3% 20%;
  }
}

/******************************
    HOW IT WORKS
*******************************/
#home-how-it-works {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5%;

  h1 {
    color: $text-empahasis-color;
  }

  ul  {
    text-align: left;
    margin: 0 auto;
  }

  @media only screen and (min-width: 700px) {
    padding: 3% 20%;
  }
}