/******************************
    HERO BLOCK
*******************************/
$bg-img: url('../../images/meal-prep.jpg');
$teal-empahasis-color: #01B4BC;
$red-cta-color: #FA5457;
$white-cta-color: #ffffffd8;
$cta-btn-font: 'Muli', sans-serif;

#hero-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $bg-img no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;

  .cta-block {
    box-sizing: border-box;
    background-color: $white-cta-color;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 10%;
      h1 {
        padding-top:50px;
        font-size: 1.8rem;
        font-weight:300;
      }

      p {
        font-size: 1.1rem;
      }

      .cta-btn {
        background-color: $red-cta-color;
        width: 100%;
        color: white;
        font-weight: 100;
        font-size: 1rem;
        font-family: $cta-btn-font;
        text-transform: uppercase;
        padding: 15px;
        border: 1px solid #000;
        margin-bottom: 70px;
      }
  }
}

@media only screen and (min-width: 700px) {

  #hero-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $bg-img no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;

    .cta-block.clear {
      clear:both;
    }

    .cta-block {
      box-sizing: border-box;
      background-color: $white-cta-color;
      height: 50%;
      max-width: 60%;
      padding: 10px;
      text-align: center;
      margin: 0 auto;
      margin: 15% auto;

      h1 {
        font-size: 1.8rem;
        font-weight:300;
      }

      p {
        font-size: 1.1rem;
      }

      .cta-btn {
        background-color: $red-cta-color;
        width: 50%;
        color: white;
        font-weight: 100;
        font-size: 1rem;
        font-family: $cta-btn-font;
        text-transform: uppercase;
        padding: 15px;
        border: 1px solid #000;
      }
    }
  }
}

/******************************
    PRIORITIES
*******************************/
#home-priorities {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5%;

  h1 {
    color: $teal-empahasis-color;
  }

  ul {
    text-align: left;
    margin: 0 auto;
  }

  @media only screen and (min-width: 700px) {
    padding: 10% 20%;
  }
}


/******************************
    QUOTE BLOCK
*******************************/
#home-quotes {
  background-image: url('../../images/family-feet.jpg');
  background-size: cover;
  font-size: 20px;

  .cta-btn {
    background-color: $red-cta-color;
    width: 50%;
    color: white;
    font-weight: 100;
    font-size: 1rem;
    font-family: $cta-btn-font;
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid #000;
  }

  .quote-content {
    padding: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media only screen and (min-width: 700px) {
      padding: 3% 20%;
    }

    blockquote {
      margin: 20px;
    }
  }

  .white-overlay {
    background-color: $white-cta-color;
  }
}

/******************************
    WHERE NOURI COMES IN
*******************************/
#home-come-in {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5%;

  h1 {
    color: $teal-empahasis-color;
  }

  @media only screen and (min-width: 700px) {
    padding: 10% 20%;
  }
}

/******************************
    LEARN MORE
*******************************/
#home-learn-more {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10% 5%;
  border-top: 2px solid $teal-empahasis-color;
  border-bottom: 2px solid $teal-empahasis-color;

  h1 {
    color: $teal-empahasis-color;
    margin: 0;
  }

  .cta-btn {
    background-color: $red-cta-color;
    width: 100%;
    color: white;
    font-weight: 100;
    font-size: 1rem;
    font-family: $cta-btn-font;
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid #000;
    margin-bottom: 70px;
  }

  @media only screen and (min-width: 700px) {
    padding: 10% 20%;
  }
}

/******************************
    HOW IT WORKS
*******************************/
#home-how-it-works {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5%;

  h1 {
    color: $teal-empahasis-color;
  }

  ul {
    text-align: left;
    margin: 0 auto;
  }

  @media only screen and (min-width: 700px) {
    padding: 10% 20%;
  }
  
}
