.header-nav {
  position: fixed;
  padding-top: 20px;
  left: calc( 50% - 90px); 

  
  #logo {   
    width: 200px;
    margin: 0 auto;
    
    @media only screen and (min-width: 700px) {
      width: 150px;
      position: fixed;
      left: 45vw;
    }

    @media only screen and (min-width: 1000px) {
      width: 150px;
      position: fixed;
      left: 45vw;
    }
  }
}