
$white-overlay: #ffffffd8;

.header-nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

    #logo {
      align-self: center;
      width: 100px;
      margin: 0 auto;
      padding: 5px;
    }
}

@media only screen and (min-width: 700px) {
  .header-nav {
    background-color: $white-overlay;
  }
}
