.links-container {
  display: flex;
  justify-content: center;

  a {
    padding: 5px;
    color: #7A6DAC;

    
  }
  a:hover {
    color: #050505;
    transform: scale(.98)
  }



}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid lightgray;
  padding: 1% 3% 1% 3%;
  font-size: 14px;
  font-weight: 300;
  color: #848484;
}