name: Continuous Integration

on:
  pull_request:
    branches:
    - master

jobs:

  build:
    name: Run build
    
  strategy:
    matrix:
      runs-on: [ubuntu-latest]
      fail-fast: false
    
  runs-on: ${{ matrix.runs-on }}

  steps:
  - name: Checkout Code
    uses: actions/checkout@v1

  - name: Install Dependencies
    run: npm i